[submodule "vim/bundle/ag"]
	path = vim/bundle/ag
	url = https://github.com/vim-scripts/ag.vim.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = git://github.com/Lokaltog/powerline.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/numbers"]
	path = vim/bundle/numbers
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "vim/bundle/sparkup"]
	path = vim/bundle/sparkup
	url = https://github.com/tristen/vim-sparkup.git
[submodule "vim/bundle/fish"]
	path = vim/bundle/fish
	url = https://github.com/Soares/fish.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/indent-guides"]
	path = vim/bundle/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/coffeescript"]
	path = vim/bundle/coffeescript
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/puppet"]
	path = vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "vim/bundle/fireplace"]
	path = vim/bundle/fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "vim/bundle/clojure-static"]
	path = vim/bundle/clojure-static
	url = git://github.com/guns/vim-clojure-static.git
[submodule "vim/bundle/ruby-refactoring"]
	path = vim/bundle/ruby-refactoring
	url = https://github.com/rking/vim-ruby-refactoring.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
