[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "git/template/hooks/commit-comments"]
	path = git/template/hooks/commit-comments
	url = https://github.com/thebearjew/commit-comments.git
